<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Moje Konto</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
    <div style="margin-left: 10%">
        <table th:object="${daneOsobowe}" style="width: 80%; border: thin grey">
            <tr>
                <th>
                    <em> Witaj ponownie </em><em th:text="*{imie}"/>!
                </th>
                <td style="text-align: right">
                    <button><a href="/Natalia/Konto/edycjaKonta"> Edytuj Konto</a></button>
                    <button><a href="/Natalia/Konto/formularzTransakcji"> Transakcja </a></button>
                </td>
            </tr>
        </table>
        <table th:object="${bezpieczenstwo}" style="width: 80%; border: thin grey">
            <tr>
                <p> Numer klienta: <em th:text="*{nrKlienta}"/></p>
            </tr>
        </table>
        <br>
        <table th:object="${rachunek}" style="width: 20%;">
            <tr>
                <th>Saldo konta: </th><td th:text="*{saldoKonta}"></td>
            </tr>
            <tr>
                <th>Waluta: </th><td th:text="*{waluta}"></td>
            </tr>
        </table>
        <br>
        <table style="width: 80%;">
            <tr> <th colspan="2"> Historia: </th></tr>
            <tr style="background: lavender">
                <th>Rodzaj<br>transakcji</th>
                <th>Kwota</th>
                <th>Data operacji</th>
                <th>Saldo konta<br>po operacji</th>
            </tr>
            <tr th:each="Tenprodukt : ${historia}" style="border: solid grey">
                <td th:text="${Tenprodukt.typTransakcji}"></td>
                <td th:text="${Tenprodukt.kwota}"></td>
                <td th:text="${Tenprodukt.dataOperacji}"></td>
                <td th:text="${Tenprodukt.saldoPoOperacji}"> </td>
            </tr>
        </table>
    </div>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>