<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Pocztowy</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
    <div th:replace="~{/wspolne/fragmenty :: menu}"/>
    <center>
        <form action="/zaloguj" modelAttribute="form" method="post">
            <div>
                <input type="number" name="username" placeholder="nr klienta"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="hasło"/>
            </div>
            <input type="submit" value="Zaloguj"/>
            <button><a href="/Natalia/noweKonto/daneOsobowe" style="color: grey"> Stwórz nowe konto </a></button>
        </form>
    </center>
    <div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>