<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transakcje</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
<div style="margin-left: 10%">
    Wykonaj transakcję:<br>
    <a href="/Natalia/Konto/formularzTransakcji"> Wpłata </a><br>
    <a href="/Natalia/Konto/formularzTransakcji"> Wypłata </a><br>
    <br>
    <button><a href="/Natalia/Konto/mojeKonto"> Anuluj </a></button>
</div>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>