h1 {
    color: blue;
}

.login {
    display: block;
    width: 115px;
    height: 25px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: yellow;
    line-height: 25px;
}

.buttonGlowna{
    font: 30px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#reszta{
    font: 30px Arial;
    color: #005FF0;
}