<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
<form th:method="post" th:action="@{zapisz}" th:object="${daneOsobowe}">
    <table style="border: #070748" border="1" margin-left="20px">
        <tr><th>Imie</th><td><input th:field="*{imie}"></tr>
        <tr><th>Nazwisko</th><td><input th:field="*{nazwisko}"></tr>
        <tr><th>Numer PESEL</th><td><input th:field="*{nrPESEL}"></tr>
        <tr><th>Numer klienta</th><td><input th:field="*{nrKlienta}"></tr>
        <tr><th>Seria i numer dokumentu tożsamości</th><td><input th:field="*{seriaINumerDokumentuTozsamosci}"></tr>
        <tr><th>Adres zamieszkania</th><td><input th:field="*{adresZamieszkania}"></tr>
        <tr><th>Numer telefonu</th><td><input th:field="*{nrTelefonu}"></tr>
        <tr><th>Adres e-mail</th><td><input th:field="*{adresEmail}"></tr>
        <tr><th>Adres do korespondencji</th><td><input th:field="*{adresDoKorespondencji}"></tr>
        <tr>
            <td>
                <button>
                    <a href="/Natalia/Glowna/bankPocztowy" style="color: black"> Anuluj </a>
                </button>
            </td>
            <td>
                <input type="submit" value="Zapisz">
            </td>
        </tr>
    </table>
</form>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>