<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>

<form th:method="post" th:action="@{szukajKlienta}" th:object="${numerKlienta}">
    <table style="border: #070748" border="1" margin-left="20px">
        <tr><th>Podaj numer klienta: </th></tr><tr><td><input th:field="*{wybranySposobKontaktowania}"></tr>
        <tr>
            <td>
                <button>
                    <a href="/Natalia/Glowna/bankPocztowy" style="color: black"> Anuluj </a>
                </button>
                <input type="submit" value="Zapisz">
            </td>
        </tr>
    </table>
</form>

<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>