<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
    <br>
    <center>
        <em>
            Dane wprowadzono pomyślnie.
        </em>
    </center>
    <br>
    <a href="/Natalia/Glowna/bankPocztowy">Dalej</a>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>