<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
    <form th:method="post" th:action="@{/Natalia/Konto/zapiszNoweHaslo}" th:object="${noweHaslo}">
        <table style="border: #070748" border="1" margin-left="20px">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{nrKlienta}">
            <input type="hidden" th:field="*{PIN}"></tr>
            <tr><th>Stare hasło: </th><td><input type="password"></tr>
            <tr><th>Nowe hasło: </th><td><input type="password" th:field="*{haslo}"></tr>
            <tr>
                <td>
                    <button>
                        <a href="/Natalia/Konto/edycjaKonta" style="color: black"> Anuluj </a>
                    </button>
                </td>
                <td>
                    <input type="submit" value="Zapisz">
                </td>
            </tr>
        </table>
    </form>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>