<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Konto</title>
    <div th:replace="~{/wspolne/fragmenty :: head}"/>
</head>
<body>
<div th:replace="~{/wspolne/fragmenty :: menu}"/>
<div style="margin-left: 10%">
    Edytuj:<br>
    <a href="/Natalia/Konto/edycjaPodstawowychDanych"> Podstawowe dane</a><br>
    <a href="#"> Dane do logowania</a><br>
    <a href="#"> Limity na koncie</a><br>
    <br>
    <button><a href="/Natalia/Konto/mojeKonto"> Anuluj </a></button>
</div>
<div th:replace="~{wspolne/fragmenty :: footer}"/>
</body>
</html>